@media (max-width:1077px) {}



@media (max-width:845px) {

   .nav {
      visibility: hidden;
      position: absolute;
      right: 0;
      top: 100px;
      transform: translateX(100%);
      /* margin-top: 100px; */
      width: 200px;
      height: calc(100vh - 100px);
      background-color: #b3a38c;
      z-index: 9999;
      transition: 1s;

   }

   .nav.nav_active {
      visibility: visible;
      transform: translateX(0);
   }

   .nav_list {
      width: 100%;
      height: 100%;
      flex-direction: column;
      color: #b3a38c;
      justify-content: center;
      gap: 20px;
   }

   .nav_item {

      width: 100%;
      height: 40px;
      box-shadow: 0 0 10px white;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .nav_link {
      color: var(--colorlight);

   }

   .burger_menu {
      display: flex;
      position: relative;
   }

   .nav_close {
      display: block;
   }
   .productInfo{
      flex-wrap: wrap;
   }
}

@media (max-width:725px) {
   .product_item {
      align-items: center;
   }
   .cart_container{
      width: 100%;
   }
}

@media (max-width:500px) {
   .header_item {
      gap: 20px;
   }

   .header_icons {
      gap: 20px;
   }
}